#aboutPage {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: -100%;
    bottom: 0px;
    overflow: auto;
    background-color: #141414;
    transition: left 0.5s;
    color: white;
    display: grid;
    grid-template-columns: 29.85% 0.15% 29.85% 0.15% 29.85% 0.15% 10%;
}

/*! BUTTON ROW */

.aboutToggle {
    height: 5rem;
    width: 5rem;
    bottom: 2rem;
    background-color: #00A3E0;
    border: none;
    border-radius: 5rem;
    outline: none;
    /* box-shadow: 0rem 0rem 4rem rgb(0 0 0 / 35%); */
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

.aboutToggle:hover {
    transform: scale(1.04);
}

.aboutToggle:active {
    transform: scale(0.96);
}

.aboutToggle>i {
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(246, 231, 224);
    font-size: 1.75rem;
    opacity: 0.5;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

.aboutToggle:hover>i {
    opacity: 1;
}

.row {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 163, 224, 0.3)
}


/* Headings */
.about-title {
    display: flex;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    text-decoration: underline;
    text-decoration-color: #00A3E0;
    font-size: 2.5rem;
}

.about-header{
    display: flex;
    font-family: 'Oswald', sans-serif;
    justify-content: center;
    font-weight: 600;
    margin-top: 10px;
    font-size: 2rem;
    margin-bottom: 15px;
}

.row>div>i{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    opacity: 0.6;
}

.about-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    padding-top: 1vh;
    padding-bottom: 14vh;
}

.date{
    font-weight: lighter;
    margin-top: -20px;
    font-size: 1.5rem;
}

#degree{
    font-weight: lighter;
    margin-top: -20px;
    font-size: 1.7rem;
}

#a-levels{
    font-size: 1.7rem;
}

.divider {
    position: relative;
    background-color: #00A3E0;
    opacity: 0.5;
    top: 2.5%;
    height: 95%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.experience-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

#info-tag{
    margin-top: -10px;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.tech-list{
    text-align: center;
    font-size: 1.3rem;
}

#tech-list-info{
    margin: 0;
    padding-left: 0;
}

.tech-list>ul>li{
    list-style: none;
}

.job-desc{
    font-size: 1.3rem;
}

.job-list{
    margin-top: 0;
    padding-top: 0;
}

/* BUBBLES */
#bubble-wrapper {
    height: 100%;
    width: 90%;
    position: fixed;
    bottom: 0px;
    overflow: hidden;
    pointer-events: none;
}

.bubble {
    height: max(300px, 10vw);
    width: max(300px, 10vw);
    background-color: #00A3E0;
    border-radius: 100%;

    position: absolute;
    left: 50%;
    top: 100%;

    animation: wave 2.1s ease-in-out infinite;
}

@keyframes wave {

    from,
    to {
        transform: translate(-50%, 0%);
    }

    50% {
        transform: translate(-50%, -20%);
    }
}
