@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body[data-revelio="false"]>#revelio {
    bottom: -100%;
    transition: bottom 0.5s ease-in;
}

body[data-revelio="true"]>#revelio {
    bottom: -1%;
    transition: bottom 0.5s ease-in;
    z-index: 900;
}

.project-info {
    height: 89vh;
    width: 98%;
    position: fixed;
    bottom: -100%;
    right: 1%;
    z-index: 9999;
    background-color: #1B1A27;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.project-info-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 13% 35% 35% 17%;
}

.project-info-title {
    grid-column: span 2;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: underline;
}

.video-container {
    object-fit: contain;
    width: 97%;
    height: 100%;
    margin: auto;
}

.video {
    object-fit: contain;
    width: 100%;
    height: 98%;
}

video::-webkit-media-controls-panel {
    background-image: none !important;
}

.project-info-about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.repo-link {
    background-color: rgba(88, 36, 232, 0.2);
    color: white;
    border: solid 1px white;
    padding: 10px;
    border-radius: 8px;
    background-size: 200%;
    transition: background-color ease-in 0.3s;
}

.repo-link:hover {
    animation: background-pan 5s linear infinite;
    background-color: rgba(88, 36, 232, 1);
    transition: background-color ease-in 0.3s;
}

.project-info-about-links{
width: 40%;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.project-info-about>p {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Open Sans', sans-serif;
}

.project-info-tech {
    grid-column: span 2;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.project-info-tech>h2 {
    padding-bottom: 0;
    padding-top: 1%;
    margin: 0;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

th,td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.5em;
}

th {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 1.3rem;
}

.project-info-button-grid {
    grid-column: span 2;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: right;
    justify-content: right;
}

.project-info-button {
    height: 5rem;
    width: 5rem;
    bottom: 0rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 5rem;
    outline: none;
    /* box-shadow: 0rem 0rem 4rem rgb(0 0 0 / 35%); */
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

.project-info-button>i {
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(246, 231, 224);
    font-size: 3rem;
    opacity: 0.5;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

.project-info-button:hover {
    transform: scale(1.04);
}

.project-info-button:hover>i {
    opacity: 1;
}

.project-info-button:active {
    transform: scale(0.96);
}

/* !  Whos that Pokemon?*/
body[data-pokemon="false"]>#pokemon {
    bottom: -100%;
    transition: bottom 0.5s ease-in;
}

body[data-pokemon="true"]>#pokemon {
    bottom: -1%;
    transition: bottom 0.5s ease-in;
    z-index: 900;
}

/* ! Habit */
body[data-habit="false"]>#habit {
    bottom: -100%;
    transition: bottom 0.5s ease-in;
}

body[data-habit="true"]>#habit {
    bottom: -1%;
    transition: bottom 0.5s ease-in;
    z-index: 900;
}

/* ! Repo tracker */
body[data-github="false"]>#github {
    bottom: -100%;
    transition: bottom 0.5s ease-in;
}

body[data-github="true"]>#github {
    bottom: -1%;
    transition: bottom 0.5s ease-in;
    z-index: 900;
}

/* ! Telegram */
body[data-telegram="false"]>#telegram {
    bottom: -100%;
    transition: bottom 0.5s ease-in;
}

body[data-telegram="true"]>#telegram {
    bottom: -1%;
    transition: bottom 0.5s ease-in;
    z-index: 900;
}

/* ! 404 */
body[data-message="false"]>#message {
    bottom: -100%;
    transition: bottom 0.5s ease-in;
}

body[data-message="true"]>#message {
    bottom: -1%;
    transition: bottom 0.5s ease-in;
    z-index: 900;
}

/* ! google */
body[data-google="false"]>#google {
    bottom: -100%;
    transition: bottom 0.5s ease-in;
}

body[data-google="true"]>#google {
    bottom: -1%;
    transition: bottom 0.5s ease-in;
    z-index: 900;
}
