@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

/* font-family: 'Oswald', sans-serif; */

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.side {
    height: 100vh;
    width: 100%;

    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0;
}

.side .title {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
    margin: 0px 15vw;
    width: 70vw;
}

.side .fancy {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* transform: translateX(20%);
    transition: 5s; */
}

#left-side {
    background-color: #0C0D0F;
    z-index: 2;
}

#left-side .fancy {
    color: #17E962;
}

#right-side .fancy {
    color: white;
}

#right-side {
    background-color: #17E962;
    color: #141414;
}

#right-side .title {
    color: rgb(20, 20, 20);
}


body[data-nav="true"]>main>#right-side {
    background-color: #8E2034;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

body[data-nav="false"]>main>#right-side {
    background-color: #17E962;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

@keyframes fill_red {
    from {
        fill: transparent;
        stroke: #17E962;
    }

    to {
        fill: #8E2034;
        stroke: #8E2034;
    }
}

@keyframes fill_back2green {
    from {
        fill: transparent;
        stroke: #8E2034;
    }

    to {
        fill: #17E962;
        stroke: #17E962;
    }
}

body[data-nav="true"]>main>.side>h2>.fancy>#logo {
    animation: fill_red 1s ease forwards 0.1s;
    -webkit-transition: fill_red 1000ms linear;
    -ms-transition: fill_red 1000ms linear;
    transition: fill_red 1000ms linear;
    stroke: #8E2034;
}

body[data-nav="true"]>main>.side>h2>.fancy>#logo path:nth-child(n):nth-child(-n+9) {
    stroke: #8E2034;
    -webkit-transition: fill 1000ms linear;
    -ms-transition: fill 1000ms linear;
    transition: fill 1000ms linear;
}

/* body[data-nav="false"]>main>.side>h2>.fancy>#logo{
    animation: fill_back2green 0.5s ease forwards 4.5s;
    -webkit-transition: fill 1000ms linear;
    -ms-transition: fill 1000ms linear;
    transition: fill 1000ms linear;
} */

/* body[data-nav="false"]>main>.side>h2>.fancy>#logo path:nth-child(n):nth-child(-n+9){
    stroke: #17E962;
} */

/* @keyframes titleAnimation {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
} */

/* h2 {
    animation: titleAnimation ease-out 2s;
    animation-fill-mode: forwards;
} */

/*! Wavey title  */
.titleAnim {
    display: inline-block;
    position: relative;
}

.titleAnim span {
    display: inline-block;
    position: relative;
    opacity: 0;
    animation: pop 0.3s ease-in-out forwards;
}

.titleAnim2 {
    display: inline-block;
    position: relative;
}

.titleAnim2 span {
    display: inline-block;
    position: relative;
    opacity: 0;
    animation: pop 0.3s ease-in-out forwards;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    70% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1024px) {
    
}

@media only screen and (max-width: 900px) {
    #logo{
        scale: 0.8;
        transition: scale ease-in 0.1s;
    }
    #logo2{
        scale: 0.8;
        transition: scale ease-in 0.1s;
    }
    .side .title{
        font-size: 6vw;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {
    #logo{
        scale: 0.6;
        transition: scale ease-in 0.1s;
    }
    #logo2{
        scale: 0.6;
        transition: scale ease-in 0.1s;
    }
    .side .title{
        font-size: 7vw;
    }
}

@media only screen and (max-width: 480px) {
    body:not([data-nav="true"])>#nav-toggle>.open {
        opacity: 1;
    }
}

@media only screen and (max-width: 440px) {
    #left-side{
        transition: width ease-out 0.15s;
    }
}
